.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-size: 3rem;
}

.nav-button {
  height: 5rem;
  width: 30rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-decoration: none;
  box-shadow: 2px 2px 4px #143109;
  color: #143109;
  text-decoration: none;
}

.nav-button:hover {
  transform: scale(1.01);
}
