.leaderboard {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  padding: 2rem;
  font-size: 1.5rem;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.leaderboard-list > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  min-width: 50rem;
}
